.body{
    font-family: 'Arimo', sans-serif;
}
.cabecalho {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    background-color: #90cf50;
}
.cabecalho h1 {
    width: 200px;
}

.cabecalho img{
    width: 200px;
    position: relative;
    margin: 0 auto;  
}
.link{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 15px;
}
.menu{
    position:absolute;
    right: 10%;
    top: 90px;
    
}
.item_menu{
    display: inline;
    margin: 0 0 0 15px;
}
.link_menu{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 20px;
}
.menu :hover{
    color: darkgreen;
}
.menu2{
    position: absolute;
    top: 5px;
    right: 0;

}

.pag_ini :hover {
    color: darkgreen;
    text-decoration: underline;
}
.rodape{
    background-color:#90cf50;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 30px;
    text-align: center;
    bottom: 0px;
    padding-top: 7px;
    position: relative;
    width: 100%;
}

@media screen and (max-width: 768px){
    .cabecalho{
        display: flex;
        flex-direction: column;
        align-items:center;
    }
    .menu{
        position: static;
        font-size: 40px;
    }
    .menu2{
        position: static;
        align-items: center;
    }

    .rodape{
        position:fixed;
    }
}  
 